<article class="posting">
	<a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}">
		<img src="{{collection.image}}" alt="">
		<small>View Larger</small>
	</a>
	<h3>{{collection.title}}</h3>
	<div class = "detail owner">
		<span>Created by:</span> {{collection.owner}} 
	</div>
	<div class = "detail location">
		<span>from </span>{{collection.city}}
	</div>
	<div class = "detail subject">
		<span>Category:</span> {{collection-content-category collection.category}}
		- {{collection.category}}
	</div>
	<div class = "detail quantity">
		{{collection.quantity}}<span> quotes</span> 
	</div>
	{{location-map location=collection.city}}
</article>
