<article class="posting">
	<img src="{{collection.image}}" alt="">
	<h3>{{collection.title}}</h3>
	<div class = "detail owner">
		<span>Created by:</span> {{collection.owner}} 
		<br /> {{collection.city}}
	</div>
	<div class = "detail subject">
		<span>Category:</span> {{collection.category}}
	</div>
	<div class = "detail quantity">
		{{collection.quantity}}<span> quotes</span> 
	</div>
</article>